@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.not-found {
    font-family: 'Press Start 2P';
    color: white;
    text-align: center;
}

.not-found h1 {
    color: red;
    font-size: 5rem;
}

.not-found h2 {
    font-size: 3rem;
}

.not-found h1, h2, h3 {
    margin-bottom: 2rem !important;
}

.not-found .btn-link {
    text-decoration: none;
}

.not-found .btn-link:hover {
    color: red;
    text-decoration: underline;
}