.button-wrapper button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.button-wrapper:hover button {
    visibility: visible;
    opacity: 1;
}

.button-wrapper .card,
button.card {
    transition: background-color 0.2s;
}

.button-wrapper:hover .card,
button:hover.card {
    background: bottom !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

button.btn-secondary.bottom-0 {
    width: 5rem;
}