svg {
    width: 256px;
    height: 256px;
}

/* SMOKE */

#smoke-1 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s ease infinite;
}

#smoke-2 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
    0% {
        stroke-dasharray: 0, 10;
    }
    50% {
        stroke-dasharray: 10, 0;
    }
    100% {
        stroke-dasharray: 10, 0;
        opacity: 0;
    }
}

/* WRITING */

.line {
    animation: writing 0.5s ease forwards;
}

#line-1 {
    opacity: 0;
    animation-delay: 1s;
}

#line-2 {
    opacity: 0;
    animation-delay: 1.5s;
}

#line-3 {
    opacity: 0;
    animation-delay: 2s;
}

#line-4 {
    opacity: 0;
    animation-delay: 2.5s;
}

@keyframes writing {
    0% {
        width: 0px;
        opacity: 1;
    }
    100% {
        width: 14px;
        opacity: 1;
    }
}
