.text {
    display: flex;
    user-select: none;
}

.letter {
    padding-left: 0.22em;
    padding-right: 0.22em;
    transition: ease-in .5s, ease-out .5s;
}

.letter:hover {
    transform: translateY(-50%);
}
