<div class="card bg-body-secondary position-relative"
     style="width:20rem; height: 20rem;"
>
    <form class="position-absolute top-50 start-50 translate-middle w-75 needs-validation"
          hx-trigger="keydown[key=='Enter']" novalidate
          th:action="${uri}"
          th:method="${method}" th:object="${college}">
        <div class="mb-3">
            <div class="input-group">
                <input class="form-control" placeholder="College name" required th:field="*{collegeName}"/>
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Address" th:field="*{address}">
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" hx-push-url="false" hx-target="body" hx:get="@{/colleges}">Cancel</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>