<!doctype html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<section layout:fragment="content">
    <div class="container">


        <div class="position-absolute align-items-center d-flex flex-column top-50 start-50 translate-middle mt-4"
             id="replaceMe">
            <link rel="stylesheet" th:href="@{/404.css}">
            <div class="not-found">
                <h1>404</h1>
                <h2>PAGE NOT FOUND</h2>
                <h3>BACK TO HOME?</h3>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-link" hx:get="@{/}">YES</button>
                    <button class="btn btn-link" hx-get="/video" hx-push-url="false"
                            hx-swap="outerHTML" hx-target="#replaceMe"
                    >NO
                    </button>
                </div>

            </div>
        </div>


    </div>
</section>