<!DOCTYPE html>
<html data-bs-theme="dark"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title th:text="${ pageTitle != null ? pageTitle : 'Studyist'}"></title>
    <!--Bootstrap CSS-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/custom.css}">
    <!--Bootstrap JS-->
    <script crossorigin="anonymous" defer
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!--HTMX-->
    <script crossorigin="anonymous"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            src="https://unpkg.com/htmx.org@1.8.5"></script>
</head>
<body th:hx-headers='|{"${_csrf.headerName}": "${_csrf.token}"}|'>

<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Studyist</a>
        <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarToggler" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                <li class="nav-item" th:if="${user}">
                    <a class="nav-link"
                       th:classappend="${pageTitle == 'Dashboard' ? 'active':''}"
                       th:href="@{/dashboard}"
                    >Dashboard</a>
                </li>
            </ul>
            <div class="mb-1 mb-lg-0" th:unless="${user}">
                <form action="/oauth2/authorization/keycloak" method="post" name="loginForm" th:hidden="true"></form>
                <div>
                    <button class="btn btn-primary"
                            onclick="loginForm.submit()"
                    >Login
                    </button>
                </div>
            </div>
            <div class="dropdown mb-1 mb-lg-0" th:if="${user}">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                        th:text="${user.firstName + ' ' + user.lastName}"></button>
                <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark">
                    <li>
                        <form action="/account" method="get" name="accountForm" th:hidden="true"></form>
                        <button class="dropdown-item btn btn-primary" onclick="accountForm.submit()">Account</button>
                    </li>
                    <li>
                        <form method="post" name="logoutForm" th:action="@{/logout}" th:hidden="true">
                            <input type="submit" value="Logout"/></form>
                        <button class="dropdown-item btn btn-primary" onclick="logoutForm.submit()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid mt-5 pt-4" hx-push-url="true" id="content" xh-boost="true">

    <div class="container">

        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
            <span th:text="${message}"></span>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${exception}">
            <span th:text="${exception}"></span>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
            <span th:text="${error}"></span>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
    </div>

    <section layout:fragment="content"></section>

</div>

<script defer
        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

    document.body.addEventListener('htmx:beforeRequest', function () {
        document.cookie = 'redirectUri= [[${urlBuilder.toUriString()}]];path=/;SameSite=Lax';
    });
    document.body.addEventListener('htmx:historyRestore', function () {
        document.cookie = 'redirectUri= [[${urlBuilder.toUriString()}]];path=/;SameSite=Lax';
    });
    document.body.addEventListener('htmx:pushedIntoHistory', function () {
        document.cookie = 'redirectUri= [[${urlBuilder.toUriString()}]];path=/;SameSite=Lax';
    });
    document.body.addEventListener('htmx:responseError', function () {
        location.reload();
    });
    document.body.addEventListener('htmx:sendError', function () {
        location.reload();
    });

</script>

<script defer>
    tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

</html>