<div class="card bg-body-secondary position-relative"
     style="width:20rem; height: 20rem;"
>
    <form class="position-absolute top-50 start-50 translate-middle w-75 needs-validation"
          hx-trigger="keydown[key=='Enter']" novalidate
          th:action="${submitUri}"
          th:method="${method}" th:object="${professor}">
        <div class="mb-3">
            <div class="input-group">
                <input class="form-control" placeholder="First name" required th:field="*{firstName}"/>
                <input class="form-control" placeholder="Last name" th:field="*{lastName}"/>
            </div>
            <div class="invalid-tooltip">
                Name required
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Email address" th:field="*{email}" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control" pattern="\+{0,1}[0-9]{12,}|[0-9]{9,}" placeholder="Phone number"
                   th:field="*{phoneNumber}"
                   type="tel">
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" hx-push-url="false" hx:get="@{${cancelUri}}"
                    hx:swap="${hxSwap}" hx:target="${hxTarget}">Cancel
            </button>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>