<!doctype html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<section layout:fragment="content">
    <div class="container justify-content-center mb-3"
         style="display: grid;grid-template-columns: repeat(auto-fill, 20rem);grid-gap: 1rem;"
    >
        <th:block th:each="professor : ${professors}" th:if="${professors != null}">
            <div class="button-wrapper position-relative">
                <div class="card bg-body-secondary position-relative"
                     style="width:20rem; height: 20rem;"
                >
                    <div class="position-absolute text-center top-50 start-50 translate-middle pt-3 w-75">
                        <h5 class="fs-2" th:text="${professor.firstName} + ' ' + ${professor.lastName}"></h5>
                        <p class="text-muted mb-0" th:text="${professor.email}"></p>
                        <p class="text-muted mb-0" th:text="${professor.phoneNumber}"></p>
                    </div>
                </div>
                <button class="btn btn-secondary position-absolute top-0 start-0 m-2" hx-push-url="false"
                        hx-target="body" hx:confirm="'Are you sure you wish to delete ' +
                            ${professor.firstName} + ' ' + ${professor.lastName} + '?'"
                        hx:delete="@{/professors/{id}(id=${professor.professorId})}"
                        id="delete"
                >
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button class="btn btn-secondary position-absolute top-0 end-0 m-2" hx-push-url="false"
                        hx-swap="outerHTML"
                        hx-target="closest div" hx:get="@{/professors/edit/{id}(id=${professor.professorId})}"
                        id="edit">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
        </th:block>

        <button class="card bg-body-secondary position-relative" hx-push-url="false" hx-swap="outerHTML"
                hx:get="@{/professors/new}" style="width:20rem; height: 20rem;"
        >
            <div class="position-absolute top-50 start-50 translate-middle">
                <h5 class="fs-1"><i class="bi bi-person-square"></i></h5>
                <p class="text-muted">Add new professor</p>
            </div>
        </button>

    </div>

</section>