<!doctype html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<section layout:fragment="content">
    <div class="container justify-content-center mb-3"
         style="display: grid;grid-template-columns: repeat(auto-fill, 20rem);grid-gap: 1rem;"
    >
        <th:block th:each="study : ${studies}" th:if="${studies != null}">
            <div class="button-wrapper position-relative">
                <div class="card bg-body-secondary position-relative"
                     style="width:20rem; height: 20rem;"
                >
                    <div class="position-absolute text-center top-50 start-50 translate-middle pt-3 w-75">
                        <h5 class="fs-2" th:text="${study.studyName}"></h5>
                    </div>
                </div>
                <button class="btn btn-secondary position-absolute top-0 start-0 m-2" hx-push-url="false"
                        hx-target="body"
                        hx:confirm="'Are you sure you wish to delete ' + ${study.studyName} + '?'"
                        hx:delete="@{/colleges/{collegeId}/studies/{studyId}(collegeId=${collegeID},studyId=${study.studyId})}"
                        id="delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button class="btn btn-secondary position-absolute top-0 end-0 m-2" hx-push-url="false"
                        hx-swap="outerHTML" hx-target="closest div"
                        hx:get="@{/colleges/{collegeId}/studies/edit/{studyId}(collegeId=${collegeID},studyId=${study.studyId})}">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-secondary position-absolute bottom-0 start-50 translate-middle-x mb-5"
                        hx-target="body" hx:get="@{/studies/{id}/subjects(id=${study.studyId})}">
                    <i class="bi bi-door-open w-25"></i>
                </button>
            </div>
        </th:block>

        <button class="card bg-body-secondary position-relative"
                hx-push-url="false" hx-swap="outerHTML"
                hx:get="@{/colleges/{collegeId}/studies/new(collegeId=${collegeID})}"
                style="width:20rem; height: 20rem;"
        >
            <div class="position-absolute top-50 start-50 translate-middle">
                <h5 class="fs-1"><i class="bi bi-building-add"></i></h5>
                <p class="text-muted">Add new study</p>
            </div>
        </button>

    </div>

</section>