<link rel="stylesheet" th:href="@{studyist_text.css}">

<div class="text">
    <div class="letter">S</div>
    <div class="letter">t</div>
    <div class="letter">u</div>
    <div class="letter">d</div>
    <div class="letter">y</div>
    <div class="letter">i</div>
    <div class="letter">s</div>
    <div class="letter">t</div>
</div>