<!doctype html>
<html lang="en" layout:decorate="~{layout.html}" xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<section layout:fragment="content">
    <div class="container justify-content-center mb-3"
         style="display: grid;grid-template-columns: repeat(auto-fill, 20rem);grid-gap: 1rem;"
    >
        <th:block th:each="subjectType : ${subjectTypes}" th:if="${subjectTypes != null}">
            <div class="button-wrapper position-relative">
                <div class="card bg-body-secondary position-relative"
                     style="width:20rem; height: 20rem;"
                >
                    <div class="position-absolute text-center top-50 start-50 translate-middle pt-4 w-75">
                        <h5 class="fs-2" th:text="${subjectType.typeName}"></h5>
                        <p class="text-muted mb-0 pt-2"
                           th:text="${#numbers.formatPercent(subjectType.currentAttendancePercentage, 1, 0) +
                            ' / ' + #numbers.formatPercent(subjectType.mandatoryAttendancePercentage, 1, 0)}"
                        ></p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-outline-secondary m-2" hx-target="body"
                                    hx:post="@{/studies/{studyID}/subjects/{subjectID}/decrementAttendance/{typeID}
                                    (studyID=${studyID},subjectID=${subjectID},typeID=${subjectType.subjectTypeId})}"
                            ><i class="bi bi-dash-lg"></i></button>
                            <p class="text-muted mb-0"
                               th:text="${#numbers.formatDecimal(subjectType.currentAttendanceCount, 1, 0) +
                                ' / ' + #numbers.formatDecimal(subjectType.attendanceCountLeft, 1, 0) + ' arrivals'}"
                            ></p>
                            <button class="btn btn-outline-secondary m-2" hx-target="body"
                                    hx:post="@{/studies/{studyID}/subjects/{subjectID}/incrementAttendance/{typeID}
                                    (studyID=${studyID},subjectID=${subjectID},typeID=${subjectType.subjectTypeId})}"
                            ><i class="bi bi-plus-lg"></i></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary position-absolute top-0 start-0 m-2" hx-push-url="false"
                        hx-target="body"
                        hx:confirm="'Are you sure you wish to delete ' + ${subjectType.typeName} + '?'" hx:delete="@{/studies/{studyID}/subjects/{subjectID}/{typeID}
                                    (studyID=${studyID},subjectID=${subjectID},typeID=${subjectType.subjectTypeId})}"
                        id="delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button class="btn btn-secondary position-absolute top-0 end-0 m-2" hx-push-url="false"
                        hx-swap="outerHTML" hx-target="closest div"
                        hx:get="@{/studies/{studyID}/subjects/{subjectID}/edit/{typeID}
                                    (studyID=${studyID},subjectID=${subjectID},typeID=${subjectType.subjectTypeId})}">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
        </th:block>

        <button class="card bg-body-secondary position-relative"
                hx-push-url="false" hx-swap="outerHTML"
                hx:get="@{/studies/{studyID}/subjects/{subjectID}/new-type(studyID=${studyID}, subjectID=${subjectID})}"
                style="width:20rem; height: 20rem;"
        >
            <div class="position-absolute top-50 start-50 translate-middle pt-4">
                <h5 class="fs-1"><i class="bi bi-building-add"></i></h5>
                <p class="text-muted">Add new subject type</p>
            </div>
        </button>

    </div>

</section>