<div class="card bg-body-secondary position-relative"
     style="width:20rem; height: 20rem;"
>
    <form class="position-absolute top-50 start-50 translate-middle w-75 needs-validation"
          hx-trigger="keydown[key=='Enter']" novalidate
          th:action="${submitUri}"
          th:method="${method}" th:object="${subjectType}">
        <div class="mb-2">
            <input class="form-control" placeholder="Subject type" required th:field="*{typeName}"/>
        </div>
        <div class="input-group mb-2">
            <select class="form-select" required th:field="*{professorId}">
                <option selected value="">Professor</option>
                <option th:each="professor : ${professors}" th:text="${professor.firstName + ' ' + professor.lastName}"
                        th:value="${professor.professorId}"></option>
            </select>
            <button class="btn btn-outline-secondary" hx-push-url="false"
                    hx-swap="outerHTML" hx-target="closest .card" hx:get="@{${cancelUri + '/new-professor'}}">New
            </button>
        </div>
        <div class="input-group mb-2">
            <input class="form-control" max="100" maxlength="3"
                   min="0" placeholder="Mandatory attendance" required th:field="*{mandatoryAttendancePercentage}"
                   type="number"/>
            <span class="input-group-text">%</span>
        </div>
        <div class="mb-2">
            <input class="form-control" placeholder="Total hours" required th:field="*{totalSubjectTypeHours}"
                   type="number"/>
        </div>
        <div class="mb-2">
            <input class="form-control" placeholder="Hours per arrival" required th:field="*{attendanceHourValue}"
                   type="number"/>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" hx-push-url="false" hx-target="body" hx:get="@{${cancelUri}}">Cancel
            </button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>