<div class="position-absolute align-items-center d-flex flex-column top-50 start-50 translate-middle mt-4"
     style="min-width: 100%;height: 50%;">
    <video autoplay controls playsinline style="pointer-events: none; height: 100%; width: 100%;">
        <source th:src="@{/NGGYU.webm}" type="video/webm">
    </video>
</div>